body{
	background-image:url(../img/P4GfA.jpg);
	background-repeat:no-repeat;
	background-position:top center;
	background-color: #EBEBEB;
}
form{
	display:inline-block;
}
ul, li {
	list-style-type: none;
}
h2{
	text-align :center;
	vertical-align: center;
	font-size:x-large;
	/*font-family: Tahoma, Geneva, sans-serif;*/
}
h3{
	text-align : center;
	font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
	font-weight: 300;
	color:white;
	vertical-align: center;
	font-size: large;
}

img{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	vertical-align:middle;
}
img.center{
	display:block;
}

div>li{
	max-width:350px;
	height:65px;
	overflow:hidden;
}

.pageHeader{
	border-bottom: 1px solid #CCCCCC;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', Tahoma, sans-serif;
	font-size: 12px;
	line-height: 1.8em;
	color: #555;
}
.article{
	background-color: rgba(255,236,255,.5);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding : 0px;
	margin : 5px;
	height:60px;
	width:95%;
	overflow:hidden;
	display:inline-block;
	z-index:1;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.rsstitle{
	text-align: center;
	margin-left: 10px;
	margin-right:10px;
	z-index:2;
	position: relative;
	font-size: small;
	background-color: rgba(255,236,255,.8);
}

#RSSModule, #TweeterModule {
	padding : 10px;
	margin : 20px;
}

.hidden, .date{
	display:none;
	text-align: center;
	margin-left: 10px;
	margin-right:10px;
	z-index:2;
	position: relative;
	font-size: small;
	background-color: rgba(255,236,255,.8);
}
.detail:hover .date {
/*	background-color: green;*/
	display:block;
	margin:0px;
	font-size:small;
	font-style: italic ;
/*	height:40px;*/
}
.article-list {
	width : 350px;
	display: inline-block;
	vertical-align: top;
	margin: 20px;
}

#RSSModule div>li{
	background-image:url(../img/pink.jpg);
	background-repeat:repeat-x;
	background-size: 100%;
	background-position:top;
	border: 2px solid #F340AB;
}

.Feed .preview{
	max-width: 100px;
	max-height: 100px;
	overflow:hidden;
}

.detail:hover{
	height:auto;
	width:auto;
	font-style: italic;
}


