body{
	background-color: #EEEEEE;
}
form{
	display:inline-block;
}
ul, li {
	list-style-type: none;
}

img{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	vertical-align:middle;
}
a{
	text-decoration: none;
}
#HeaderModule{
	text-align :center;
	vertical-align: center;
	font-size:x-large;	
	border-bottom: 1px solid #CCCCCC;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', Tahoma, sans-serif;
	font-size: 12px;
	line-height: 1.8em;
	color: #555;
}
#Reader{
	margin:0 auto;
	width:1024px;
	height:auto;
}
#RSSModule{
	float:left;
	width:200px;
	padding : 10px;
	margin : 10px;
}
#ArticleModule{
	float:left;
	width:600px;
	height:30px;
	padding : 10px;
	margin : 10px;
}
#ArticleModule img{
	margin: 0 auto;
	display:block;
	width:300px;
}
.feed-title{
	text-align : center;
	font-family: 'Droid Serif', serif;
	color:white;
	margin-bottom:5px;
	width:100%;
	display:inline-block;
	font-size:1.6em;
	background-color:#555555;
	padding:10px;
}
#RSSModule .feed-title.selected{
	background-color:#333333;
}

#ArticleModule .article-list{
	font-size: .8em;
	width : 100%;
	padding:0;
}

a.art-title{
	font-family: 'Droid Serif', serif;
	float:left;
	font-size:1.2em;
	color:#3e83F1;
}
span.art-date{
	font-family: 'Droid Sans', sans-serif;
	font-style:italic;
	font-size:.7em;
	float:right;
}
p.art-desc, p{
	font-family: 'Droid Sans', sans-serif;
	display:block;
	width:90%;
	overflow:hidden;
	line-height: 1.4em;
	padding: 10px;
	white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}
p.art-desc.expand, p.expand{
	display:inline-block;
	width:90%;
	overflow:visible;
	padding: 2px 10px;
	white-space: normal;
}

.article.expand{
	height:auto;
}
.article{
/*	background-color: rgba(255,236,255,.5);*/
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding : 0px;
	margin : 2px;
	height:60px;
	width:100%;
	font-size:110%;
	display:inline-block;
	border-bottom:1px solid #CCCCCC;
}


